# Streamlit UI
streamlit>=1.35.0

# PDF Handling
PyMuPDF==1.22.3

# Embedding and Transformers
sentence-transformers>=2.2.2
torch>=2.0.0
transformers>=4.40.0
sentencepiece>=0.1.99
huggingface_hub>=0.16.4

# Google Gemini API
google-generativeai>=0.7.0
google-ai-generativelanguage>=0.6.6,<0.7.0

# ChromaDB (vector store)
chromadb>=0.4.20

# Utility Libraries
tqdm
numpy
librosa>=0.9.0
